<%-include("header")-%>
<!-- get details of a clg -->
<h1>Details of <%=item.name%></h1>
<div style="display: inline-block; margin-left:40px;"></div>
<h2 style="font-family: serif;">College ID:<span class="clgdata"><%=item.clg_id%></span> </h2>
<h2 style="font-family: serif;">City: <span class="clgdata"><%=item.city%></span> </h2>
<h2 style="font-family: serif;">State: <span class="clgdata"><%=item.state%></span></h2>
<h2 style="font-family: serif;">Year founded: <span class="clgdata"><%=item.year_founded%></span></h2>
<h2 style="font-family: serif;">Specialized in Course:  <span class="clgdata"><%=item.course%> Engineering</span></h2>
</div>

<img style="width:27%; position:absolute; left:55%;top:12%; border-radius: 5%;" src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="">