<%-include("header")-%>
<!-- get clgs offering specific course -->
<h1>Colleges offering <%=branch%> Engg.</h1>
  <table style="margin-top:30px; font-family: serif;">
    <tr>
      <th>Clg_ID</th>
      <th>College Name</th>
      <th>City</th>
      <th>State</th>
      <th>Year Found</th>
    </tr>
    <%items.map(x=>{%>
        <tr>
            <td><%=x.clg_id%></td>
            <td><a class="clglink" href=<%=linkurl%>+<%=x.name%>%>><%=x.name%></a></td>
            <td><%=x.city%></td>
            <td><%=x.state%></td>
            <td><%=x.year_founded%></td>
          </tr>
    <%})%>
  </table>
  <%-include("footer")-%>